html,
body, 
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.emoji-style {
  font-family: 'icomoon';
}

.p-inputicon {
  transform: translateY(-50%) !important;
  margin: auto !important;
}
